<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Udoit</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini (click)="openModal(null)">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
  <ion-list no-lines>
    <ion-card *ngFor="let post of posts | async" text-wrap (click)="clickPost(post)">
      <ion-item-sliding>
        <ion-item>
          <ion-item>
            <ion-avatar item-start>
              <img src="./assets/imgs/profile.jpg">
            </ion-avatar>
            <h2>{{post.username}}</h2>
          </ion-item>
          <!--<img src="./assets/imgs/hepburn.jpg">-->
          <ion-card-content>
            <p>{{post.description}}</p>
          </ion-card-content>
          <ion-row>
            <ion-col col-3>
              <button ion-button color="primary" clear small icon-start>
                <ion-icon name='hand'></ion-icon>
                {{post.likes}}
              </button>
            </ion-col>
            <ion-col col-3>
              <button ion-button color="primary" clear small icon-start>
                <ion-icon name='logo-usd'></ion-icon>
                {{post.value}}
              </button>
            </ion-col>
            <ion-col align-self-center text-center col-6>
              <ion-note>
                {{howLongAgo(post.timestamp)}}
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="right" *ngIf="belongsToMe(post)">
          <button ion-button color="calm" icon-only (click)="openModal(post)">
            <ion-icon name="more"></ion-icon>
          </button>
          <button ion-button color="danger" icon-only (click)="removePost(post.$key)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>
